{% extends 'base.html' %}

{% block title %}Clock Screen{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center">Welcome to the Clock!</h1>
    <h2 id="current-time" class="text-center"></h2>

    {% if student.clock_status == False %}
      <form action="/clock_in" method="POST">
        <button type="submit" class="clock-in btn btn-primary">Clock In</button>
      </form>
    {% else %}
      <form action="/clock_out" method="POST">
        <button type="submit" class="clock-in clock-out btn btn-danger">Clock Out</button>
      </form>
    {% endif %}

    <form action="/clocks" method="GET">
      <button type="submit" class="btn btn-primary">View All Clocks</button>
    </form>

    <form action="/">
      <button type="submit" class="btn btn-primary">Logout</button>
    </form>

    <script>
      setInterval(() => {
        const now = new Date();
        const hours = now.getHours().toString().padStart(2, '0');
        const minutes = now.getMinutes().toString().padStart(2, '0');
        const seconds = now.getSeconds().toString().padStart(2, '0');
        const timeString = `${hours}:${minutes}:${seconds}`;
        document.getElementById('current-time').textContent = `Current Time: ${timeString}`;
      }, 1000);
    </script>
  </div>
{% endblock %}
