{% extends 'base.html' %}

{% block title %}{{ student.first_name }} {{ student.last_name }}{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center">{{ student.first_name }} {{ student.last_name }}</h1>
    <form action="{{url_for('back_from_student_details')}}">
      <button type="submit" class="btn btn-primary">Go Back</button>
    </form>
    <ul class="list-group mt-3">
      {% for clock_entry in clock_data %}
        {% if clock_entry.student_id == student.student_id %} 
          {% set date = clock_entry.date.strftime('%Y-%m-%d') %}
          {% set time_in = clock_entry.time_in.strftime('%I:%M:%S %p') %}
          {% set time_out = clock_entry.time_out.strftime('%I:%M:%S %p') if clock_entry.time_out else '' %}
          <li class="list-group-item">
            Clocked in on {{ date }} at {{ time_in }}{% if time_out %} and out at {{ time_out }}{% endif %}
            <form method="POST" action="{{ url_for('delete_clock_entry', clock_id=clock_entry.clock_id) }}">
              <button type="submit" class="btn btn-danger ml-3">Delete</button>
            </form>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}
